In [5]:
import pandas as pd

movies = pd.read_excel('movies.xlsx')
ott = pd.read_csv('ott.csv')

In [7]:
# Describing the movies data set
print(movies.shape)
print(movies.dtypes)
print(movies.head)
print(movies.tail)

(16744, 10)
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object
<bound method NDFrame.head of                                 Title  Year  Age  IMDb  Rotten Tomatoes  \
0                           Inception  2010  13+   8.8             0.87
1                          The Matrix  1999  18+   8.7             0.87
2              Avengers: Infinity War  2018  13+   8.5             0.84
3                  Back to the Future  1985   7+   8.5             0.96
4      The Good, the Bad and the Ugly  1966  18+   8.8             0.97
...                               ...   ...  ...   ...              ...
16739       The Ghosts of Buxley Hall  1980  NaN   6.2              NaN
16740                  The Poof Point  2001   7+   4.7              NaN
16741           Sharks of Lost Island  2013  NaN   5.7              NaN
16742              Man Among Cheetahs  2017  NaN   6.6              NaN
16743                In Beaver Valley  1950  NaN   NaN              NaN

                            Directors                            Genres  \
0                   Christopher Nolan  Action,Adventure,Sci-Fi,Thriller
1      Lana Wachowski,Lilly Wachowski                     Action,Sci-Fi
2             Anthony Russo,Joe Russo           Action,Adventure,Sci-Fi
3                     Robert Zemeckis           Adventure,Comedy,Sci-Fi
4                        Sergio Leone                           Western
...                               ...                               ...
16739                    Bruce Bilson      Comedy,Family,Fantasy,Horror
16740                     Neal Israel              Comedy,Family,Sci-Fi
16741                    Neil Gelinas                       Documentary
16742            Richard Slater-Jones                       Documentary
16743                     James Algar          Documentary,Short,Family

                            Country                 Language  Runtime
0      United States,United Kingdom  English,Japanese,French    148.0
1                     United States                  English    136.0
2                     United States                  English    149.0
3                     United States                  English    116.0
4          Italy,Spain,West Germany                  Italian    161.0
...                             ...                      ...      ...
16739                 United States                  English    120.0
16740                 United States                  English     90.0
16741                 United States                  English      NaN
16742                 United States                  English      NaN
16743                 United States                  English     32.0

[16744 rows x 10 columns]>
<bound method NDFrame.tail of                                 Title  Year  Age  IMDb  Rotten Tomatoes  \
0                           Inception  2010  13+   8.8             0.87
1                          The Matrix  1999  18+   8.7             0.87
2              Avengers: Infinity War  2018  13+   8.5             0.84
3                  Back to the Future  1985   7+   8.5             0.96
4      The Good, the Bad and the Ugly  1966  18+   8.8             0.97
...                               ...   ...  ...   ...              ...
16739       The Ghosts of Buxley Hall  1980  NaN   6.2              NaN
16740                  The Poof Point  2001   7+   4.7              NaN
16741           Sharks of Lost Island  2013  NaN   5.7              NaN
16742              Man Among Cheetahs  2017  NaN   6.6              NaN
16743                In Beaver Valley  1950  NaN   NaN              NaN

                            Directors                            Genres  \
0                   Christopher Nolan  Action,Adventure,Sci-Fi,Thriller
1      Lana Wachowski,Lilly Wachowski                     Action,Sci-Fi
2             Anthony Russo,Joe Russo           Action,Adventure,Sci-Fi
3                     Robert Zemeckis           Adventure,Comedy,Sci-Fi
4                        Sergio Leone                           Western
...                               ...                               ...
16739                    Bruce Bilson      Comedy,Family,Fantasy,Horror
16740                     Neal Israel              Comedy,Family,Sci-Fi
16741                    Neil Gelinas                       Documentary
16742            Richard Slater-Jones                       Documentary
16743                     James Algar          Documentary,Short,Family

                            Country                 Language  Runtime
0      United States,United Kingdom  English,Japanese,French    148.0
1                     United States                  English    136.0
2                     United States                  English    149.0
3                     United States                  English    116.0
4          Italy,Spain,West Germany                  Italian    161.0
...                             ...                      ...      ...
16739                 United States                  English    120.0
16740                 United States                  English     90.0
16741                 United States                  English      NaN
16742                 United States                  English      NaN
16743                 United States                  English     32.0

[16744 rows x 10 columns]>

In [8]:
# Describing the ott data set
print(ott.shape)
print(ott.dtypes)
print(ott.head)
print(ott.tail)

(16744, 5)
ID             int64
Netflix        int64
Hulu           int64
Prime Video    int64
Disney+        int64
dtype: object
<bound method NDFrame.head of           ID  Netflix  Hulu  Prime Video  Disney+
0          1        0     0            1        0
1          2        0     1            0        0
2          3        0     0            1        0
3          4        1     0            0        0
4          5        0     0            1        0
...      ...      ...   ...          ...      ...
16739  16740        0     0            1        0
16740  16741        0     0            1        0
16741  16742        0     0            1        0
16742  16743        0     0            1        0
16743  16744        1     0            0        0

[16744 rows x 5 columns]>
<bound method NDFrame.tail of           ID  Netflix  Hulu  Prime Video  Disney+
0          1        0     0            1        0
1          2        0     1            0        0
2          3        0     0            1        0
3          4        1     0            0        0
4          5        0     0            1        0
...      ...      ...   ...          ...      ...
16739  16740        0     0            1        0
16740  16741        0     0            1        0
16741  16742        0     0            1        0
16742  16743        0     0            1        0
16743  16744        1     0            0        0

[16744 rows x 5 columns]>

In [9]:
list(movies)

['Title',
 'Year',
 'Age',
 'IMDb',
 'Rotten Tomatoes',
 'Directors',
 'Genres',
 'Country',
 'Language',
 'Runtime']

In [10]:
list(ott)

['ID', 'Netflix', 'Hulu', 'Prime Video', 'Disney+']

### Calculating the sum missing values in Age column

In [11]:
movies['Age'].isnull().sum()

9390

### Replacing missing values with 'Others' in columns: Age, Directors, Genres, Country, and Language.

In [14]:
movies['Age'].fillna('Others', inplace = True)

# Checking if the missing values in Age column is replaced with Others
movies['Age'].isnull().sum()

0

In [15]:
movies['Directors'].isnull().sum()

726

In [16]:
movies['Directors'].fillna('Others', inplace = True)

# Checking if the missing values in Directors column is replaced with Others
movies['Directors'].isnull().sum()

0

In [17]:
movies['Genres'].isnull().sum()

275

In [18]:
movies['Genres'].fillna('Others', inplace = True)

# Checking if the missing values in Genres column is replaced with Others
movies['Genres'].isnull().sum()

0

In [19]:
movies['Country'].isnull().sum()

435

In [20]:
movies['Country'].fillna('Others', inplace = True)

# Checking if the missing values in Country column is replaced with Others
movies['Country'].isnull().sum()

0

In [21]:
movies['Language'].isnull().sum()

599

In [22]:
movies['Language'].fillna('Others', inplace = True)

# Checking if the missing values in Language column is replaced with Others
movies['Language'].isnull().sum()

0

### Convert the Rotten Tomatoes data type from object to integer.

#### 1. First check if there is any missing values in Rotten Tomatoes

In [27]:
movies['Rotten Tomatoes'].isnull().sum()

11586

In [30]:
# Replace missing value with the mean
movies['Rotten Tomatoes'].fillna(movies['Rotten Tomatoes'].mean(), inplace = True)

# Calculate missing values for Rotten Tomatoes.
movies['Rotten Tomatoes'].isnull().sum()

0

In [25]:
# Check the date type of Rotten Tomatoes.
print(movies['Rotten Tomatoes'].dtypes)

float64

In [31]:
# Changing data type
movies['Rotten Tomatoes'] = movies['Rotten Tomatoes'].astype(object).astype(int)
print(movies['Rotten Tomatoes'].dtypes)

int64

#### 2. Check if there are mising values in IMDb

In [33]:
movies['IMDb'].isnull().sum()

571

In [34]:
# Replace missing value with the mean
movies['IMDb'].fillna(movies['IMDb'].mean(), inplace = True)

# Calculate missing values for IMDb.
movies['IMDb'].isnull().sum()

0

## 2.3.6 Practical activity: Filter the data

### 1.Determine the column names and data types of the DataFrame.

In [8]:
# Column names 
print("Column name for movies dataframe:\n",list(movies))
print("Column name for ott dataframe:",list(ott))

Column name for movies dataframe:
 ['Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Directors', 'Genres', 'Country', 'Language', 'Runtime']
Column name for ott dataframe: ['ID', 'Netflix', 'Hulu', 'Prime Video', 'Disney+']

In [16]:
# Data Type
print("Data type for movies dataframe:\n",movies.dtypes)
print("Data type for ott dataframe:\n",ott.dtypes)

Data type for movies dataframe:
 Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object
Data type for ott dataframe:
 ID             int64
Netflix        int64
Hulu           int64
Prime Video    int64
Disney+        int64
dtype: object

### 2. Filter

In [27]:
# Filtering movies dataframe for only data type with numbers.
movies_num = movies.select_dtypes(['int64','float64'])
movies_num.head()

   Year  IMDb  Rotten Tomatoes  Runtime
0  2010   8.8             0.87    148.0
1  1999   8.7             0.87    136.0
2  2018   8.5             0.84    149.0
3  1985   8.5             0.96    116.0
4  1966   8.8             0.97    161.0

In [28]:
# Delete / Drop the Year column since it is not a numeric column.
movies_num_drp = movies_num.drop('Year', axis = 1)
movies_num_drp.head()

   IMDb  Rotten Tomatoes  Runtime
0   8.8             0.87    148.0
1   8.7             0.87    136.0
2   8.5             0.84    149.0
3   8.5             0.96    116.0
4   8.8             0.97    161.0

### 3. Calculate the IQR

In [37]:
# 1st Quartile
q1_IMDb = movies_num_drp['IMDb'].quantile(0.25)
q1_Rotten_Tomatoes = movies_num_drp['Rotten Tomatoes'].quantile(0.25)
q1_Runtime = movies_num_drp['Runtime'].quantile(0.25)

# 3rd Quartile
q3_IMDb = movies_num_drp['IMDb'].quantile(0.75)
q3_Rotten_Tomatoes = movies_num_drp['Rotten Tomatoes'].quantile(0.75)
q3_Runtime = movies_num_drp['Runtime'].quantile(0.75)

# View quartile values
print(f"Q1, IMDb ={q1_IMDb}\tQ3, IMDb ={q3_IMDb}")
print(f"Q1, Rotten Tomatoes ={q1_Rotten_Tomatoes}\tQ3, Rotten Tomatoes ={q3_Rotten_Tomatoes}")
print(f"Q1, Runtime ={q1_Runtime}\tQ3, Runtime ={q3_Runtime}")

# View IQR
print("\nIQR_IMDb =", (q3_IMDb - q1_IMDb))
print("IQR_IMDb =", (q3_Rotten_Tomatoes - q1_Rotten_Tomatoes))
print("IQR_IMDb =", (q3_Runtime - q1_Runtime))

Q1, IMDb =5.1	Q3, IMDb =6.9
Q1, Rotten Tomatoes =0.44	Q3, Rotten Tomatoes =0.88
Q1, Runtime =82.0	Q3, Runtime =104.0

IQR_IMDb = 1.8000000000000007
IQR_IMDb = 0.44
IQR_IMDb = 22.0

### Descriptive Statistics

In [38]:
movies_num.describe()

               Year          IMDb  Rotten Tomatoes       Runtime
count  16744.000000  16173.000000      5158.000000  16152.000000
mean    2003.014035      5.902751         0.654285     93.413447
std       20.674321      1.347867         0.266145     28.219222
min     1902.000000      0.000000         0.020000      1.000000
25%     2000.000000      5.100000         0.440000     82.000000
50%     2012.000000      6.100000         0.710000     92.000000
75%     2016.000000      6.900000         0.880000    104.000000
max     2020.000000      9.300000         1.000000   1256.000000